data/bias/combined_bias.fit filter=lfs diff=lfs merge=lfs -text
data/darks/** filter=lfs diff=lfs merge=lfs -text
data/flat_B/** filter=lfs diff=lfs merge=lfs -text
data/flat_R/** filter=lfs diff=lfs merge=lfs -text
data/flat_R/*.fits filter=lfs diff=lfs merge=lfs -text
